@charset "UTF-8";

/* font-family: 'Raleway', sans-serif; */ 

body {
    font-family: 'Raleway', sans-serif;
    width: 1600px;
    height: 900px;
    margin-left:auto; 
    margin-right:auto;
   
}

.accueil{
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 3s;
    position: relative;
    text-align: center;
    width:900px;
    padding:30px;
    text-align:justify;
}


 
.container-fluid {
    padding: 0;
    
}

.separator{
    height: 2px;
    width: 150px;
    border: none;
    box-shadow: none;
    background-color:#f28a19; 
}


/*header*/


.navbar{
     background-color: rgba(142, 97, 165, 0.7);
    
}

.logo{
    /*color: #f28a19;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    float:left;*/
  
}

.nav-item a {
    color: #ffffff;
    margin-right: 20px;
}
.nav-item a:hover {
    color: #f28a19;  
}



.dropdown button{
    color: #ffffff;
}

.dropdown button:hover{
    color:  #f28a19;
    transition: all 1s; 
}

.dropdown-item{
    color:#f28a19;
    background-color: rgba(142, 97, 165, 0.7);
    transition: all 1s; 
}

.dropdown-menu {
		position:absolute;
		float:;
        padding: 0;
}


/*banniere*/
.banner{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;    
}

.ban{
    position: relative;

    
}

 .ban img  {
    width: 1600px; 
    height: 450px; 
    object-fit: cover; 
    opacity: 0.2;
    padding-top: 60px;
    
}

.inner-banner{
    position: relative;
    top:-280px;
    width: 100%;
    text-align: center; 
}

.inner-banner h1 {
    color: #AE1AF7;
    text-shadow: 3px 3px 10px #AE1AF7;
}

.inner-banner .btn-custom {
    background-color: #e627c2;
    color: #f28a19;
}

.inner-banner .btn-custom:hover {
    background-color: #f28a19;
    color:  #e627c2;
     opacity: 0.5;
}

/*about*/
#about{
    text-align: center; 
    padding-top: 10px;
}

.about article h2 {
    text-align:center;
    padding:30px;
    width:250px;   
}

#h2{
     text-align:justify;
}

.about article{
    margin-bottom: 50px;
    border: 3px blue double;
    padding:30px;
     text-align:justify;
}

.carousel-inner{
    border: 3px blue double;
    padding:0px;
    padding-top: 0px;
    width: 450px;
}
 {
     width: 250px;
     height: 250px;
   
  
   
}

/*ExpertiseConseil*/
#ExpertiseConseil{
    text-align: center; 
    padding-top: 10px;
}

/*CoachingAgile*/
#CoachingAgile{
    text-align: center; 
    padding-top: 10px;
}


/*ateno*/
.ateno {
    background-color:  rgba(242, 138, 25, 0.54);
}

#ateno {
    text-align: center;
    padding-top: 10px;
    
}

.ateno .item-ateno {
    height: 100px;
   /*background-color: #e627c2;*/
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 1em;
    border: 3px blue outset; 
}

.d-flex{
    opacity: 0.8;
    margin-right: -5px;
    padding-right: 3px;
}

.aline-self-start{
    margin-right: -9px
}

.aline-self-end{
     margin-left: -9px
}

/*contact*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#ffc700;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}

.divContact{
    font-family: 'Raleway', sans-serif;
    padding-top: 60px;
    height: 600px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(58, 97, 134, 0.6) , rgba(137, 37, 62, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #f28a19; 
    
}
.contact-section{
  padding-top: 40px;
    
}
.contact-section .col-md-6{
  width: 50%;
    
}

#contact {
    text-align: center;
}

.form-line{
    border-right: 5px solid #B29999;
    max-height: 400px;
}

.form-group{
    margin-top: 10px;
    color: #f28a19;
    margin: 50px;
    
}

label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}

.form-control{
  font-size: 1.3em;
  color: #080808;
}

textarea.form-control {
    height: 135px;
    background-color : rgba(242, 138, 25, 0.7); 
    min-height: 250px;
    
}

.form-line input{
    background-color: rgba(242, 138, 25, 0.7);
}

.submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: #e627c2;
    color: #f28a19;
    margin-top: 10px;
    margin-right: 50px;
}

.submit:hover {
    background-color: #f28a19;
    color:  #e627c2;
     
}


/*footer*/

.carousel-page{
width:100%;
height:400px;
background-color:#5f666d;
color:white;
}


.page-footer{
  background-color: #34475E;
  width: 1600px;
   
}

.btn-fb{
    background-color: #3b5998;
    margin-bottom: -30px;
}


.btn-tw{
    background-color: #00acee;
    margin-bottom: -30px;
}


.btn-ins{
    background: #405DE6;
    margin-bottom: -30px;
}

.btn-li{
    color:#ffffff;
    background: #0e76a8;
    margin-bottom: -30px;
}



.footer-copyright {
    color: #fff;
    
}

.footer-copyright a {
    color:#ffc700;
    text-transform: uppercase;
   
}


















